{
	"parser": "@typescript-eslint/parser", // Specifies the ESLint parser
	"extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/babel",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier"],
	"settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
		"sourceType": "module" // Allows for the use of imports
	},
	"rules": {
		"prettier/prettier": ["error", { "singleQuote": true }],
		"@typescript-eslint/explicit-function-return-type": ["off"]
  },
}
